<!DOCTYPE html>
<html lang="es">
<head>
<!-- basic -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<!-- site metas -->
<title>BuggBlock</title>
<link rel="shortcut icon" href="images/LogoE.ico"/>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/About-us.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">

<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>

<!-- body -->
<body>
	<div class="header_main">
		<div class="container">
			<div class="logo"><a href="index.php"><img src="images/LogoInicioBla.png"></a></div>
		</div>
	</div>
	</div>
	<div class="header">
		<div class="container">
        <!--  header inner -->
            <div class="col-sm-12">
                 <div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
                        <!-- <a class="navbar-brand" href="#">Menu</a> -->
						<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       	<i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                <a class="nav-link" href="index.php"><i class="bi bi-chevron-double-left"></i> Regresar<span class="sr-only">(current)</span></a> </li>
                               <li class="nav-item">
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div> 
    </div>
    <!-- end header end -->    

    <!--banner start -->
    <div>
		<br><br><br><br><br><br><br><br><br>
    </div>
</div>
<br><br><br><br><br><br><br><br>
</div>
<!--banner end -->

    <!--services start -->
    <div class="services_main">
    	<div class="container">
    		<div class="creative_taital">
    			<h1 class="creative_text">Conoce a Nuestro Equipo de Produccion</h1>
    			<p><h1 style="color: #000000; text-align: center;">Esta es una pagina tipo blogger personal sobre nuestra opinion en algunas tecnologia que hemos probado o queremos probar, aqui podras tomar en cuenta opiniones sobre productos por si en dado caso tiene alguna duda en comprar algun tipo de estas tecnologias modernas</p>
    		</div>
    		    <div class="section_service_2">
    		    	<h1 class="service_text">Equipo de Produccion</h1>
    		    </div>
		</div>
		
		<section class="form-main">
			<div class="form-content">
				<div class="box">
					<img src="images/luis.png">
					<h4>Luis Gabriel Ramirez</h4>
					<h5>CEO y Documentador</h5>
				</div>
				<div class="box">
					<img src="images/Saul.png">
					<h4>Saul Bustamante</h4>
					<h5>Programador Back-end</h5>
				</div>
				<div class="box">
					<img src="images/David.png">
					<h4>Jose David Aguilar</h4>
					<h5>Programador Back-end</h5>
				</div>
				<div class="box">
					<img src="images/Alberto.png">
					<h4>Jose Alberto Ambriz</h4>
					<h5>Programador Front-end</h5>
				</div>
				<div class="box">
					<img src="images/Uli.png">
					<h4>Ulises Gerardo Garcia</h4>
					<h5>Programador Front-end</h5>
				</div>
			</div>
		</section>
	</div>
    <!--quote_section start -->
    <div class="quote_section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<h1 class="quote_text">Universidad De Colima</h1>
    				<p class="loan_text"> Ingenieria en software 2D <br>Facultad de Ingenieria Electromecanica</p>
    			</div>
    		</div>
    	</div>
    </div>
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>